.App {
  text-align: center;
}
.topPageInfo {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.globe {
  background-color: black;
  display: flex;
  align-items: center;
  justify-items: center;
}
.dataArea {
  background-color: black;
  width: 80vw;
  color: wheat;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.userCorner {
  background-color: blue;
  width: 20vw;

}

.mapContainer {
  background-color: white;
  width: 100vw;
  height: 80vh;
}